.DS_Store
.bsp
.bloop
.metals
.vscode
**/*.swp
data/.DS_Store
data/ml-100k
data/ml-25m
project/project
project/target
src/main/scala/project/
src/main/scala/target/
target/
logs/
.bloop/
.metals/
.vscode/
data/ml-1m/
exact-100k-4.json
optimizing-100k.json
project/.bloop/
project/metals.sbt
